body {
  background-color: black;
  display: flex;
  flex-direction: column;
  margin-top: 5rem;
  align-items: center;
}

h1 {
  color: white;
  font-family: Arial;
}

#myCanvas {
  background-color: #2a5;
}

#controls {
  margin-top: 25px;
}

button {
  background-color: white;
  font-size: 20px;
  padding: 5px 7px 7px 5px;
  border: none;
  border-radius: 5px;
  text-shadow: 1px 1px black;
  cursor: pointer;
}

.slider-container {
  display: inline-block;
  position: relative;
  width: 100px;
  height: 34px;
  background-color: #ccc;
  border-radius: 25px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
  top: 10px;
  cursor: pointer;
}

.slider-button {
  position: absolute;
  top: 2px;
  left: 2px;
  width: 50px;
  height: 30px;
  background-color: #4caf50;
  border-radius: 23px;
  transition: left 0.3s ease;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
}

.slider-label {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  width: 100px;
  font-weight: bold;
  font-size: 14px;
  color: #fff;
  pointer-events: none;
}

.label-lht {
  left: 10px;
  text-align: left;
}

.label-rht {
  right: 10px;
  text-align: right;
}

#trafficToggle:checked + .slider-container .slider-button {
  left: 48px;
  background-color: #076057;
}

.modal {
  background: rgba(0, 0, 0, 0.5);
  align-items: center;
  justify-content: center;
}

#saveConfirmationModal {
  z-index: 1100;
}

#trafficSideChangeModal {
  z-index: 1100;
}

#errorModal {
  z-index: 1100;
}

#loadingModal {
  z-index: 1050;
}

#settingsModal .modal-dialog {
  max-height: 80vh;
  height: 80vh;
  overflow: auto;
  z-index: 1;
}

#settingsModal .modal-content {
  height: 100%;
  overflow-y: auto;
}

#settingsModal .modal-body {
  padding: 15px;
  max-height: calc(80vh - 120px);
  overflow-y: auto;
}

#settingsModal .modal-footer {
  display: flex;
  justify-content: space-between;
}

#settingsModal small.error-message {
  color: red;
  display: none;
}

#settingsModal .form-group.flex {
  justify-content: space-around;
}

#loadWorldModal .modal-dialog {
  max-height: 60vh;
  height: 60vh;
  overflow: auto;
}

#loadWorldModal .modal-content {
  height: 100%;
  overflow-y: auto;
}

#loadWorldModal .modal-body {
  padding: 15px;
  max-height: calc(60vh - 120px);
  overflow-y: auto;
}

#loadWorldModal .modal-body h5 {
  text-align: center;
}

#loadWorldModal div.osm-data-section {
  display: flex;
  flex-direction: column;
}

#loadWorldModal div.osm-data-section h5,
#loadWorldModal div.osm-data-section button {
  margin-top: 1.5rem !important;
  margin-bottom: 1.5rem;
}

.form-group.flex {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.form-group.flex label {
  margin-bottom: 0;
}

#showSensors {
  width: 25px;
  height: 25px;
  margin: 0 0 0 1rem;
  position: relative;
}

.world-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  margin-top: 20px;
}

.world-item {
  text-align: center;
  margin: 10px;
  cursor: pointer;
  width: 150px;
}

.world-item img {
  border: 2px solid;
  width: 100%;
  height: auto;
  border-radius: 8px;
}

.world-item h4 {
  font-size: 16px;
  color: #333;
  margin: 0.5rem 0;
}

.divider {
  display: table;
  font-size: 24px;
  text-align: center;
  width: 75%;
  margin: 20px auto;
}

.divider span {
  display: table-cell;
  position: relative;
}

.divider span:first-child,
.divider span:last-child {
  width: 50%;
  top: 15px;
  -moz-background-size: 100% 2px;
  background-size: 100% 2px;
  background-position: 0 0, 0 100%;
  background-repeat: no-repeat;
}

.divider span:first-child {
  background-image: -webkit-linear-gradient(180deg, transparent, #000);
  background-image: -moz-linear-gradient(180deg, transparent, #000);
  background-image: -o-linear-gradient(180deg, transparent, #000);
  background-image: linear-gradient(90deg, transparent, #000);
}

.divider span:nth-child(2) {
  color: #000;
  padding: 0px 20px;
  width: auto;
  white-space: nowrap;
}

.divider span:last-child {
  background-image: -webkit-linear-gradient(180deg, #000, transparent);
  background-image: -moz-linear-gradient(180deg, #000, transparent);
  background-image: -o-linear-gradient(180deg, #000, transparent);
  background-image: linear-gradient(90deg, #000, transparent);
}
